 {% extends 'profile-base.html' %}
  {% block body %}

  <!--
	  <form action="" method="POST">
  {{ form.hidden_tag() }}
<p>
	{{ form.username.label }}
	<br> {{ form.username(size=32) }}
	<br> {% for error in form.username.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</p>
<p>
	{{ form.about_me.label }}
	<br> {{ form.about_me(cols=50, rows=4) }}
	<br> {% for error in form.about_me.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</p>
<p>{{ form.submit() }}</p>
</form>

  -->
  

<div id="setting" class="  w3-container">


	<div class="w3-center">

		<div class="w3-bar w3-container w3-text-white ">

			<div class="w3-container w3-bar-item w3-large">
				<div style="cursor: pointer;" class="w3-text-black w3-card-2 w3-padding ">
					<b>
						Edit profile
					</b>
				</div>
			</div>

		</div>

	</div>

	<form id="basic_information" action="" method="POST" class="w3-card-2 w3-padding">
		<br/> {{ form.hidden_tag() }} 
		
		{{ form.username.label }} 
		
		{{ form.username(size=32 , class="w3-input w3-border") }}
		</p>

	{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		</p>
		<p>
			{{ form.about_me.label }}
			<br> {{ form.about_me(cols=50, rows=4 , class="w3-input w3-border") }}
			<br> {% for error in form.about_me.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>


	</form>




</div>

{% endblock %}

