 {% extends 'home-base.html' %} {% block content %}

<div class="">


	<form id="login-form" action="" style="width: 700px ;
	margin: 0px auto 0px auto" method="POST" class="w3-card-2 w3-container w3-padding
 ">
		<br/> {{ form.hidden_tag() }}
		 {{ form.username.label }}
		  {{ form.username(size=32 , class="w3-input w3-border w3-left-align") }}
		</p>

		{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		</p>
		<p class="" style="align-content: left;">
			{{ form.password.label }}
			<br> {{ form.password(class="w3-input w3-border w3-left-align") }}
			<br> {% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p class="w3-center">
			{{ form.submit(class="w3-button w3-blue ") }}
		</p>

	</form>
</div>
<br/> {% endblock %}